{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

<img src='{% comment %}ly_asset_replace_for_[ 'icon-helpF.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-helpF.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}' class='arrowHome'>

<div class='mod1'>
	<a href="https://yshey.com/products/br-vivien" target="_blank">
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image22.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image22.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<div class='title'>
				<h1><ly-as-4182634>Robin & Kristina in Maldives</ly-as-4182634></h1>
			</div>
			<div class='back'>                    
		      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
		    </div>
		</div>
	</a>

</div>
<!-- 
<div class='mod2'>
	<div class='izq tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image2.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedLeft'><ly-as-4182635>SWAYING WITH THE WAVES, DREAMING OF THE BEACH TAKES US TO PARADISE</ly-as-4182635></h1>
		</div>
	</div>
	<a href="https://player.vimeo.com/video/209355568?autoplay=1&color=FF0068" class="fancybox-iframe" data-fancybox-type="iframe">
		<div class='der1 tobeanimatedUp'>
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image3.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image3.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='full'><img src='{% comment %}ly_asset_replace_for_[ "icon-playFill.svg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "icon-playFill.svg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
			</div>
		</div>
	</a>
	<div class='der2 tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image4.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image4.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod4'>
	<div class='izq tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image6.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image6.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
	<div class='der tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image7.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image7.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedLeft'><ly-as-4182636>TRAVELS TO EXOTIC PLACES, TURQUOISE WATERS. SUN KISSES, SAND RUNNING THROUGH YOUR FINGERS</ly-as-4182636></h1>
		</div>
	</div>
</div>
-->
<div class='mod44 tobeanimatedUp'>
	<div class='izq'>
		<a href="https://yshey.com/products/al-greenfire" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image10.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image10.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>                    
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
	<div class='der'>
		<a href="https://yshey.com/products/br-rachel" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image20.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image20.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>                    
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod5 tobeanimatedUp tobeanimatedBott'>
	<div class='izq'>
		<a href="https://yshey.com/products/gi-mistyheanda" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image18.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image18.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>                    
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
	<div class='der'>
		<h1 class='tobeanimatedRight'><ly-as-4182637>Swaying with the waveS, dreaming of the beach takeS uS</ly-as-4182637><br><ly-as-4182638>to paradiSe</ly-as-4182638></h1>
	</div>
</div>
<div class='mod55 tobeanimatedBott'>
	<div class='izq'>
		<a href="https://yshey.com/products/sa-sunnykauai" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image11.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image11.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
	<div class='der'>
		<a href="https://yshey.com/products/bi-notte" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image14.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image14.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
	<div class='izq hide'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image11.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image11.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod56 tobeanimatedUp'>
	<a href="https://yshey.com/products/br-ava" target="_blank">
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image19.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image19.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedRight'><ly-as-4182639>travelS to exotic placeS, turquoiSe waterS. Sun kiSSeS, Sand running through your fingerS</ly-as-4182639></h1>
			<div class='back'>
		      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
		    </div>
		</div>
	</a>
</div>
<div class='mod57 tobeanimatedUp'>
	<a href="https://yshey.com/products/ke-hibiscus" target="_blank">
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image3.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image3.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedRight'><ly-as-4182640>time StandS Still, infinite eScape. have a yShey time</ly-as-4182640></h1>
			<div class='back'>
		      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
		    </div>
		</div>
	</a>
</div>
<div class='mod170 tobeanimatedUp'>
	<div class='izq'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'chancla1.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'chancla1.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
		<h1 class='tobeanimatedRight'><ly-as-4182641>yshey</ly-as-4182641><span><ly-as-4182642>beach</ly-as-4182642></span></h1>
	</div>
	<div class='der'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'chancla2.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'chancla2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
		</div>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod69 tobeanimatedUp'>
	<a href="https://yshey.com/products/sc-scarletdeepb-103051299" target="_blank">
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image5.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image5.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedRight'><ly-as-4182643>the Sun comeS down, itS careSSing golden rayS... awakening the moon</ly-as-4182643></h1>
			<div class='back'>
		      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
		    </div>
		</div>
	</a>
</div>
<div class='mod70 tobeanimatedUp'>
	<div class='izq'>
		<a href="https://yshey.com/products/gs-cignenoir" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image8.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image8.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
	<div class='der'>
		<a href="https://yshey.com/products/be-ibiza" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image24.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image24.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod71 tobeanimatedBott'>
	<div class='izq'>
		<a href="https://yshey.com/products/iv-darkchocolate-103031228?variant=37345953091" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image15.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image15.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
	<div class='der'>
		<a href="https://yshey.com/products/br-darkparis" target="_blank">
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image13.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image13.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='back'>
			      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
			    </div>
			</div>
		</a>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod96 tobeanimatedUp'>
	<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image5.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image5.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
</div>
<div class='mod7 tobeanimatedUp'>
	<a href="https://yshey.com/products/ra-duchessa" target="_blank">
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image12.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image12.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<div class='back'>
		      <div class='botonShop'><ly-as-4891478>Shop Now</ly-as-4891478></div>
		    </div>
			<h1 class='tobeanimatedRight'><ly-as-4182641>yshey</ly-as-4182641><span><ly-as-4182644>sunset</ly-as-4182644></span></h1>
		</div>
	</a>
</div>
<!--
<div class='mod6'>
	<div class='izq1 tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image9.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image9.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedRight'><ly-as-4182645>TIME STANDS STILL, INFINITE ESCAPE. HAVE A YSHEY TIME</ly-as-4182645></h1>
		</div>
	</div>
	<a href="https://player.vimeo.com/video/209355568?autoplay=1&color=FF0068" class="fancybox-iframe" data-fancybox-type="iframe">
		<div class='der tobeanimatedUp'>
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image10.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image10.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='full'><img src='{% comment %}ly_asset_replace_for_[ "icon-playFill.svg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "icon-playFill.svg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
			</div>
		</div>
	</a>
	<div class='izq2 tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image11.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image11.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
	
</div>
<div style='clear:both;'></div>
<div class='mod7 tobeanimatedUp'>
	<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image12.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image12.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
</div>
<div class='mod8'>
	<a href="https://player.vimeo.com/video/209355568?autoplay=1&color=FF0068" class="fancybox-iframe" data-fancybox-type="iframe">
		<div class='izq1 tobeanimatedUp'>
			<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image13.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image13.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
				<div class='full'><img src='{% comment %}ly_asset_replace_for_[ "icon-playFill.svg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "icon-playFill.svg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
			</div>
		</div>
	</a>
	<div class='izq2 tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image14.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image14.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod9 tobeanimatedUp'>
	<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image15.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image15.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
</div>
<div class='mod10'>
	<div class='izq tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image16.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image16.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
	<div class='der1 tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image17.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image17.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<h1 class='tobeanimatedLeft'><ly-as-4182646>THE SUN COMES DOWN, ITS CARESSING GOLDEN RAYS... AWAKENING THE MOON</ly-as-4182646></h1>
		</div>
	</div>
	<div class='der2 tobeanimatedUp'>
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image18.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image18.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'></div>
	</div>
</div>
<div style='clear:both;'></div>
<div class='mod3 tobeanimatedUp'>
	<a href="https://player.vimeo.com/video/209355568?autoplay=1&color=FF0068" class="fancybox-iframe" data-fancybox-type="iframe">
		<div class='imageI' style='background-image: url({% comment %}ly_asset_replace_for_[ 'image5.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'image5.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});'>
			<div class='full'>
				<h2 class='tobeanimatedRight'><ly-as-4182647>WATCH OUR VIDEO CAMPAIGN</ly-as-4182647></h2>
				<img src='{% comment %}ly_asset_replace_for_[ "icon-playFill.svg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "icon-playFill.svg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'>
			</div>
		</div>
	</a>
</div>
-->