{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class='snippetFooter'>
	<div class='icons'>
		<div class='icon hasWindow tobeanimatedUp'>
			<a href="/pages/perfect-fit-guarantee">
				<div class='guarantee'>
					<img src="{% comment %}ly_asset_replace_for_[ 'icons_perfect-fit.gif' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icons_perfect-fit.gif' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182665>Perfect fit guarantee</ly-as-4182665>" itemprop="guarantee">
					<div class='span'><ly-as-4680829>Free exchanges</ly-as-4680829> <br/> <ly-as-4716234>Perfect Fit Guarantee</ly-as-4716234></div>
				</div>
			</a> 
			<div class='window' style='display:none;'>
				<div class='title'>
					{% comment %}ly_code_replace_for_[ pages.perfect-fit-guarantee.title ]_begin{% endcomment %}{% include 'ly-title' with pages.perfect-fit-guarantee %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
				<div class='content'>
					{% comment %}ly_code_replace_for_[ pages.perfect-fit-guarantee.content ]_begin{% endcomment %}{% include 'ly-content' with pages.perfect-fit-guarantee %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
			</div>
			
		</div>
		<div class='icon img hasWindow tobeanimatedUp'>
			<a href="/pages/hundreds-of-style-combinations">
				<div class='combinations'>
					<img src="{% comment %}ly_asset_replace_for_[ 'icon-combinations.gif' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-combinations.gif' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182666>Hundreds of style combinations</ly-as-4182666>" itemprop="combinations">
					<div class='span'><ly-as-4598863>2 bikinis, 4 looks!</ly-as-4598863></div>
				</div>
			</a>
			<div class='window img' style='display:none;'>
				<div class='img' data-url='{% comment %}ly_asset_replace_for_[ "Banner-Gif-v3-885px.gif" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "Banner-Gif-v3-885px.gif" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
				<div class='title'>
					{% comment %}ly_code_replace_for_[ pages.hundreds-of-style-combinations.title ]_begin{% endcomment %}{% include 'ly-title' with pages.hundreds-of-style-combinations %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
				<div class='content'>
					{% comment %}ly_code_replace_for_[ pages.hundreds-of-style-combinations.content ]_begin{% endcomment %}{% include 'ly-content' with pages.hundreds-of-style-combinations %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
			</div> 
		</div>   
		<div class='icon tobeanimatedUp hasWindow'>
			<a href="/pages/24h-shipping">
				<div class='shipping'> 
					<img class='esp' src="{% comment %}ly_asset_replace_for_[ 'icon-shipping.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-shipping.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182667>24h Shipping</ly-as-4182667>" itemprop="24h-Shipping">
					<img class='eng' src="{% comment %}ly_asset_replace_for_[ 'worldwide.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'worldwide.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182667>24h Shipping</ly-as-4182667>" itemprop="24h-Shipping">
					{% if cart.attributes.language == 'ly27068' %}
						<div class='span'><ly-as-4182652>Shipping</ly-as-4182652></div>  
					{% else %}
						<div class='span'><ly-as-4285792>Worldwide</ly-as-4285792><br><ly-as-4182652>Shipping</ly-as-4182652></div>
					{% endif %}
				</div>
			</a>
			<div class='window' style='display:none;'>
				<div class='title'>
					{% comment %}ly_code_replace_for_[ pages.24h-shipping.title ]_begin{% endcomment %}{% include 'ly-title' with pages.24h-shipping %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
				<div class='content'>
					{% comment %}ly_code_replace_for_[ pages.24h-shipping.content ]_begin{% endcomment %}{% include 'ly-content' with pages.24h-shipping %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
			</div>
		</div>
		<div class='icon hasWindow tobeanimatedUp'>
			<a href="/pages/free-returns-exchanges">
				<div class='returns'>
					<img src="{% comment %}ly_asset_replace_for_[ 'icons_cambios_gratis_en.gif' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icons_cambios_gratis_en.gif' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182668>Free Returns & Exchanges</ly-as-4182668>" itemprop="Free-Returns">
					<div class='span'><ly-as-4637513>Free Exchanges and Returns</ly-as-4637513></div>
				</div>
			</a>
			<div class='window' style='display:none;'>
				<div class='title'>
					{% comment %}ly_code_replace_for_[ pages.free-returns-exchanges.title ]_begin{% endcomment %}{% include 'ly-title' with pages.free-returns-exchanges %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
				<div class='content'>
					{% comment %}ly_code_replace_for_[ pages.free-returns-exchanges.content ]_begin{% endcomment %}{% include 'ly-content' with pages.free-returns-exchanges %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
			</div>
		</div>
		<div class='hasWindow icon tobeanimatedUp'>
			<a href="/pages/pay-later">
				<div class='paylater'>
					<img src="{% comment %}ly_asset_replace_for_[ 'paylater.gif' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'paylater.gif' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182669>Pay Later</ly-as-4182669>" itemprop="Pay-Later">
					<div class='span'><ly-as-4182654>Receive First And Pay Later</ly-as-4182654></div>
				</div>
			</a>
			<div class='window' style='display:none;'>
				<div class='title'>
					{% comment %}ly_code_replace_for_[ pages.pay-later.title ]_begin{% endcomment %}{% include 'ly-title' with pages.pay-later %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
				<div class='content'>
					{% comment %}ly_code_replace_for_[ pages.pay-later.content ]_begin{% endcomment %}{% include 'ly-content' with pages.pay-later %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
			</div>
		</div>
		<div class='icon img hasWindow tobeanimatedUp'>
			<a href="/pages/yshey-giftcard">
				<div class='giftcard'>
					<img src="{% comment %}ly_asset_replace_for_[ 'icon-giftcard.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-giftcard.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182655>YSHEY Giftcard</ly-as-4182655>" itemprop="Giftcard">
					<div class='span'><ly-as-4182655>YSHEY Giftcard</ly-as-4182655></div>
				</div>
			</a>
			<div class='window img' style='display:none;'>
				<div class='img' data-url='{% comment %}ly_asset_replace_for_[ "Gift-Card-Grupo-de-3-885px.gif" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "Gift-Card-Grupo-de-3-885px.gif" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
				<div class='title'>
					{% comment %}ly_code_replace_for_[ pages.yshey-giftcard.title ]_begin{% endcomment %}{% include 'ly-title' with pages.yshey-giftcard %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
				<div class='content'>
					{% comment %}ly_code_replace_for_[ pages.yshey-giftcard.content ]_begin{% endcomment %}{% include 'ly-content' with pages.yshey-giftcard %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
				</div>
			</div>
		</div>
	</div>
	<div class='social tobeanimatedUp'>
		<span class='keep'><ly-as-4780746>Subscribe and get 15% off!</ly-as-4780746></span>
		<div class='divSocial'>
			<a>
				<div class='divS retails'>
                  <span><ly-as-4182657>YSHEY Retailers</ly-as-4182657></span><br/>
                  <img src="{% comment %}ly_asset_replace_for_[ 'icon-retail.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-retail.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182657>YSHEY Retailers</ly-as-4182657>" itemprop="Retailers">

                </div>
			</a>
			<div class='textRetaila'>
				<p><ly-as-4241512>YSHEY is sold in YSHEY.COM and AMAZON.ES. if you want to be an  YSHEY retailer, you can contact with</ly-as-4241512> <a href='mailto:EXPANSION@YSHEY.COM'><ly-as-4241513>EXPANSION@YSHEY.COM</ly-as-4241513></a></p>
			</div>
			<div id='subscribe' class='divS suscribe'>
				<div class='centered'>
					{% form 'customer' %}
					  	{{ form.errors | default_errors }}
						{% if form.posted_successfully? %}
							{% if cart.attributes.language == 'ly27068' %}
                  <p><ly-as-4891479>¡Muchas gracias! Tú código es:</ly-as-4891479> <b><ly-as-4891480>HELLO15</ly-as-4891480></b></p>
							{% else %}
                  <p><ly-as-4891481>Thank you so much! Your code is:</ly-as-4891481> <b><ly-as-4891480>HELLO15</ly-as-4891480></b></p>
							{% endif %}
						{% endif %}
						<input type="hidden" name="contact[tags]" value="newsletter, WEB, footer">
						<input name="contact[first_name]" value="{% if customer %}{{customer.first_name }}{% endif %}" placeholder="<ly-as-4716237>First name</ly-as-4716237>" required>
                  		<input name="contact[last_name]" value="{% if customer %}{{customer.last_name }}{% endif %}" placeholder="<ly-as-4716238>Last name</ly-as-4716238>" required>
						<input type="email"
						name="contact[email]"
						id="Email"
						value="{% if customer %}{{ customer.email }}{% endif %}"
						placeholder="<ly-as-4716239>Email</ly-as-4716239>" class="formemail" required>
                  		<button type="submit" class="btn" name="commit"><ly-as-4716236>Get now!</ly-as-4716236></button>
					  
					{% endform %}
				</div>
			</div>
			<div class='divS follow'>
				<div class='centered'>
					<span><ly-as-4182659>Follow Us</ly-as-4182659></span>
					<a target='_blank' href='https://www.instagram.com/yshey_swimwear/'>
						<img src="{% comment %}ly_asset_replace_for_[ 'icon-instagram.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-instagram.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182670>YSHEY Instagram</ly-as-4182670>" itemprop="Instagram">
					</a>
					<a target='_blank' href='https://www.facebook.com/YSHEY-Swimwear-1796082523972881/'>
						<img src="{% comment %}ly_asset_replace_for_[ 'icon-facebook.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-facebook.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182671>YSHEY Facebook</ly-as-4182671>" itemprop="Facebook">
					</a>
					<!--
					YOUTUBE
					<a href=''>
						<img src="{% comment %}ly_asset_replace_for_[ 'icon-youtube.svg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'icon-youtube.svg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"  alt="<ly-as-4182672>YSHEY Youtube</ly-as-4182672>" itemprop="Youtube">
					</a>
					-->
				</div>
			</div>
		</div>
	</div>
	<div class='politicas'>
		<div class='pagos'>
			{% if cart.attributes.language == 'ly27068' %}
				<a>
					<img src="{% comment %}ly_asset_replace_for_[ 'zeleris.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'zeleris.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
				</a>
			{% else %}
				<a>
					<img src="{% comment %}ly_asset_replace_for_[ 'dhl.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'dhl.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
				</a>
			{% endif %}
			<a>
				<img src="{% comment %}ly_asset_replace_for_[ 'verified.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'verified.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
			</a>
			<a>
				<img src="{% comment %}ly_asset_replace_for_[ 'visa.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'visa.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
			</a>
			<a>
				<img src="{% comment %}ly_asset_replace_for_[ 'mastercard.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'mastercard.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
			</a>
			<a>
				<img src="{% comment %}ly_asset_replace_for_[ 'paypal.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'paypal.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
			</a>
			<a>
				<img src="{% comment %}ly_asset_replace_for_[ 'sequra.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'sequra.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
			</a>
		</div>
		<div class='listaPolitca'>
			<ul>{% comment %}
				<a href="/blogs/faqs">
					<li>FAQ | </li>
				</a>
				{% endcomment %}
				<div class='hasWindow'>
					<a href="/pages/need-some-help">
						<li><ly-as-4182660>Need some help? |</ly-as-4182660> </li>
					</a>
					<div class='window' style='display:none;'>
						<div class='title'>
							{% comment %}ly_code_replace_for_[ pages.need-some-help.title ]_begin{% endcomment %}{% include 'ly-title' with pages.need-some-help %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
						<div class='content'>
							{% comment %}ly_code_replace_for_[ pages.need-some-help.content ]_begin{% endcomment %}{% include 'ly-content' with pages.need-some-help %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
					</div>
				</div>
				<div class='hasWindow'>
					<a href="/pages/payment">
						<li><ly-as-4182661>Shopping guide |</ly-as-4182661> </li>
					</a>
					<div class='window' style='display:none;'>
						<div class='title'>
							{% comment %}ly_code_replace_for_[ pages.shipping-guide.title ]_begin{% endcomment %}{% include 'ly-title' with pages.shipping-guide %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
						<div class='content'>
							{% comment %}ly_code_replace_for_[ pages.shipping-guide.content ]_begin{% endcomment %}{% include 'ly-content' with pages.shipping-guide %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
					</div>
				</div>
				<div class='hasWindow'>
					<a href="/pages/terms-conditions">
						<li><ly-as-4182662>Terms |</ly-as-4182662> </li>
					</a>
					<div class='window' style='display:none;'>
						<div class='title'>
							{% comment %}ly_code_replace_for_[ pages.terms-conditions.title ]_begin{% endcomment %}{% include 'ly-title' with pages.terms-conditions %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
						<div class='content'>
							{% comment %}ly_code_replace_for_[ pages.terms-conditions.content ]_begin{% endcomment %}{% include 'ly-content' with pages.terms-conditions %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
					</div>
				</div>
				<div class='hasWindow'>
					<a href="/pages/privacy-policy">
						<li><ly-as-4226656>Privacy Policy</ly-as-4226656></li>
					</a>
					<div class='window' style='display:none;'>
						<div class='title'>
							{% comment %}ly_code_replace_for_[ pages.privacy-policy.title ]_begin{% endcomment %}{% include 'ly-title' with pages.privacy-policy %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
						<div class='content'>
							{% comment %}ly_code_replace_for_[ pages.privacy-policy.content ]_begin{% endcomment %}{% include 'ly-content' with pages.privacy-policy %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
						</div>
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>