{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class='section campaignHome'>
  <h2 class='title tobeanimatedLeft'><ly-as-4182616>Campaign</ly-as-4182616></h2>

  {% for block in section.blocks %}    
      {% case block.type %}
        {% when 'triadas' %}
          <div class="{{block.type}}" {{ block.shopify_attributes }}>
            <a href="{{block.settings.urlIzq}}">
              <div class='elm imgIzq tobeanimatedUp' style='background-image: url({{block.settings.imgIzq | img_url: "x1275"}})'></div>
            </a>
            <a href=
              {% if block.settings.selImg1 == 'youtVim' %}
                {% if block.settings.video_url1.type == 'vimeo' %}
                  "https://player.vimeo.com/video/{{block.settings.video_url1.id}}?autoplay=1&color=FF0068"
                {% else %}
                  "https://www.youtube.com/embed/{{block.settings.video_url1.id}}?autoplay=1"
                {% endif %}
                class="fancybox-iframe" 
                data-fancybox-type="iframe"
              {% else %}
                "{{block.settings.urlSupDer}}"
              {% endif %}
              >
              <div class='elm imgSupDer tobeanimatedUp' style='background-image: url({{block.settings.imgSupDer | img_url: "843x"}})'>
                {% if block.settings.selImg1 == 'youtVim' %}
                  <div class='full'><img src='{% comment %}ly_asset_replace_for_[ "icon-playFill.svg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "icon-playFill.svg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
                {% endif %}
              </div>
            </a>
            <a href=
              {% if block.settings.selImg2 == 'youtVim' %}
                {% if block.settings.video_url2.type == 'vimeo' %}
                  "https://player.vimeo.com/video/{{block.settings.video_url2.id}}?autoplay=1&color=FF0068"
                {% else %}
                  "https://www.youtube.com/embed/{{block.settings.video_url2.id}}?autoplay=1"
                {% endif %}
                class="fancybox-iframe" 
                data-fancybox-type="iframe"
              {% else %}
                "{{block.settings.urlInfDer}}"
              {% endif %}
              >
              <div class='elm imgInfDer tobeanimatedUp' style='background-image: url({{block.settings.imgInfDer | img_url: "843x"}})'>
                {% if block.settings.selImg2 == 'youtVim' %}
                  <div class='full'><img src='{% comment %}ly_asset_replace_for_[ "icon-playFill.svg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "icon-playFill.svg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}'></div>
                {% endif %}
              </div>
            </a>
          </div>
          <div style='clear: both;'></div>
          <div class='moreCampaign'>
            <div class='showAll'>
              <a href='{{section.settings.urlCampaign}}'><ly-as-4182617>View Campaign</ly-as-4182617></a>
            </div>
          </div>

      {% endcase %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Campaña",
    "settings": [
      {
        "type": "url",
        "id": "urlCampaign",
        "label": "Url de 'View Campaign'"
      }
	  ],
    "blocks": [
        {
        "type": "triadas",
        "name": "Triadas de imagenes",
        "settings": [
          { 
            "type": "image_picker",
            "id": "imgIzq",
            "label": "Imagen izquierda",
            "info": "Imagen con un mínimo de height a 1300px"
          },
          {
            "type": "url",
            "id": "urlIzq",
            "label": "Url link"
          },
          {
            "type": "radio",
            "id": "selImg1",
            "options": [
              { "value": "image", "label": "Imagen"},
              { "value": "youtVim", "label": "Youtube | Vimeo"}
            ],
            "label": "Imagen/Video superior derecha",
            "info": "A continuación rellena el campo necesario."
          },
          { 
            "type": "image_picker",
            "id": "imgSupDer",
            "label": "Imagen Superior Derecha",
            "info": "Imagen con un mínimo de width a 900px"
          },
          { 
            "id": "video_url1",
            "type": "video_url",
            "label": "Youtube | Vimeo URL",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "url",
            "id": "urlSupDer",
            "label": "Url link"
          },
          {
            "type": "radio",
            "id": "selImg2",
            "options": [
              { "value": "image", "label": "Imagen"},
              { "value": "youtVim", "label": "Youtube | Vimeo"}
            ],
            "label": "Imagen/Video inferior derecha",
            "info": "A continuación rellena el campo necesario."
          },
          { 
            "type": "image_picker",
            "id": "imgInfDer",
            "label": "Imagen Superior Derecha",
            "info": "Imagen con un mínimo de width a 900px"
          },
          { 
            "id": "video_url2",
            "type": "video_url",
            "label": "Youtube | Vimeo URL",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "url",
            "id": "urlInfDer",
            "label": "Url link"
          }
        ]
        }
    ],
    "presets": [{
      "name": "Campaña",
      "category": "Campaña",
      "settings": {
      }
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
