{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<style>
  .password-page__logo {
    .logo {
      width: {{ section.settings.logo_max_width }}px;
    }
  }
</style>

<header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="password-page__header__inner">
    {% comment %}
      Link to password modal
    {% endcomment %}
    <p class="password-login text-right small--text-center">
      <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
        {% include 'svg-definitions' with 'lock-icon' %}
        {% comment %}ly_i18n_replace_for_[ 'general.password_page.password_link' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.password_link' | t }}{% endcapture %}{% include 'ly-static-string' with '4285791' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </a>
    </p>

    {% comment %}
      Site name or logo
    {% endcomment %}
    <div class="password-page__logo">
      <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {% assign logo_width = section.settings.logo_max_width | times: 1 %}
      {% if section.settings.logo != blank and logo_width <= 2048 %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img class="logo" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ langify_shop_name }}" itemprop="logo">
      {% else %}
        <span>{{ langify_shop_name }}</span>
      {% endif %}
      </h1>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      }
    ]
  }
{% endschema %}

