{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% paginate article.comments by 50 %}

{% comment %}
When a comment has just been submitted, it's not shown right away.
Shopify needs to wait until it knows for sure that it is not spam to publish it.
We can still show right away *to its author* the comment he just submitted 
— although that comment may not have been published yet.
When a comment is submitted, the browser is redirected to a page that 
includes the new comment id in its URL. Example:
http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
When a comment ID is specified in an article URL, that comment is accessible in the 
template through a Liquid object called comment. 
That comment is a full-fledged comment variable that has all the regular comment properties: 
http://docs.shopify.com/themes/liquid-variables/comment.
Note that comment.created_at will only be defined if the comment did not have any blank field 
— was posted without error.
{% endcomment %}

{% assign number_of_comments = article.comments_count %}

{% comment %}If a comment was just submitted, and it has no blank fields.{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}


<div class="articles">

{% if current_tags %}
  <h1 class="delta">{% comment %}ly_code_replace_for_[ blog.title | link_to: blog.url ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | link_to: blog.url }}{% comment %}ly_code_replace_end{% endcomment %} <span class="quiet">»</span> {{ current_tags.first }}</h1>
  {% else %}
  <h1 class="delta">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
  {% endif %}


  {% for article in blog.articles %}
  
  {% comment %}
    Let's extract a blog image.
    We will look for an image in the excerpt first, and in the blog post itself second.
    We will remove the image suffix to grab as big an image as we can.
  {% endcomment %}
    
  {% assign article_has_image = false %}
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.excerpt_or_content contains img_tag %}
    {% assign src = article.excerpt_or_content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first %}
    {% if src %}
      {% assign article_has_image = true %}
      {% assign image_src = src | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
    {% endif %}
  {% endif %}  
  
  <div class="article{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %} clear">
    <h2 class="title">
      <a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
    </h2>
  </div>
  
{% endfor %}

</div>

<div class='articleSelected'>

  <div class="article">
    <h1 class="title">
      {% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </h1>
    <div class="rte">
      {% comment %}ly_code_replace_for_[ article.content ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>
    <div class="meta">
      {% if blog.comments_enabled? and article.comments_count > 0 %}
      <span class="meta-comments">
        <a href="#comments"><i class="fa fa-comment"></i> {{ article.comments_count }} {{ article.comments_count | pluralize: '<ly-as-4182740>comment</ly-as-4182740>','<ly-as-4182740>comment</ly-as-4182740>s' }}</a>
      </span>
      {% endif %}
      {% if article.tags.size > 0 %}
      <span class="tags">
        {% for tag in article.tags %} 
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{% if forloop.first %}<i class="fa fa-tag"></i> {% endif %}{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% endif %}
    </div>
  </div>

</div>
<div style='clear:both;'></div>


{% endpaginate %}